streamlit
pandas
numpy
plotly
yfinance
fpdf2
textblob
streamlit-lottie
google-generativeai
requests
edgartools
matplotlib
pandas-datareader
youtube-transcript-api
langchain
langchain-openai
chromadb
tiktoken
pypdf
sentence-transformers
langchain-huggingface
langchain-groq
pysqlite3-binary
langchain-community
